/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: elhirond <elhirond@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2026/02/01 16:06:17 by elhirond          #+#    #+#             */
/*   Updated: 2026/02/01 16:06:17 by elhirond         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 1.1rem;
  padding: 10px 20px;
  cursor: pointer;
}
